
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;

}


.wrapper {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_pre {
    position: relative;
    color: #FFFFFF;
    font-family: "Stag Sans Medium", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-size: 1.2rem;
    line-height: 10px;
    padding: 20px 20px 10px;
    text-transform: uppercase;
    z-index: 5;
    font-weight: bold;
}

.header_pre-institutional {
    display: block;
    float: left;
}


.header_pre-external {
    position: relative;
    top: -1px;
    display: block;
    float: right;
}

.header_main {
    position: relative;
    font-family: "Stag Sans Medium", Verdana, Arial, Helvetica, sans-serif;
    padding: 26px 20px;
    background-color: #FFFFFF;
    z-index: 4;
    font-weight: bold;
}

.header_main .header_main-logo{
    position: relative;
    font-family: "Stag Sans Medium", Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    min-width: 100px;
    max-width: 120px;
    padding: 0;
    height: auto;
    vertical-align: middle;
    z-index: 1;
}


.header_main .header_main-nav {
    position: absolute;
    color: #343430;
    font-family: "Stag Sans Semibold", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 15px 70px 0 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
}

.header_main .header_main-nav .header_main-menu {
    display: block;
    padding-top: 26px;
    visibility: visible;
}

.header_main .header_main-nav a {
    display: block;
    color: #343430;
    transition: all 80ms ease-in-out;
}

.header_main .header_main-nav .header_main-menu > li {
    position: relative;
    display: inline-block;
    padding: 0 12px 40px;
}


.page_header-large {
    min-height: 300px;
    background-position: top center;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.page_header-image {
    position: relative;
    width: 100%;
    color: #FFFFFF;
    font-family: "Stag Sans Light", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    min-height: 300px;
    margin: 0;
    padding: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-row{
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.page .page_button {
    background-color: #f2f2f2;
    padding: 0px 30px;
}

.section a{
    font-weight: bold;
    border: solid 2px #0066a1
}

tr > th > b{
    font-size: 5px;
}
#logout{
    font-size:18px;
    color: #f0f0f0;
}