<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/bid_library?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="dhqxiao"/>
    </bean>


    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userDao" class="atos.dao.UserDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="solutionDao" class="atos.dao.SolutionDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="LoginController" class="atos.controller.LoginController">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="RegisterController" class="atos.controller.RegisterController">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="AdminController_user" class="atos.controller.AdminController">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="AdminController_solution" class="atos.controller.AdminController">
        <property name="solutionDao" ref="solutionDao"/>
    </bean>

    <bean id="UserController" class="atos.controller.UserController">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="UserController_solution" class="atos.controller.UserController">
        <property name="solutionDao" ref="solutionDao"/>
    </bean>

    <bean id="mapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="login.do">LoginController</prop>
            </props>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20000000"/>
    </bean>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error</prop>
            </props>
        </property>
    </bean>

</beans>