body {
    text-align: center;
    background: white !important;
}

#editor {
    width: 80%;
    margin: auto;
    font-size:20px;
    text-align: left;
}

#pre_bottom{
    margin-bottom: 30px;
}

.col-sm-offset-2{
    margin-left: 0px;
}

.title_header{
    background-color: #DCDCDC;
    text-align: left;
    padding-top:15px;
    padding-left: 20px;
    padding-bottom: 15px;
}
#myModal{
    top:30%;
}
#save-button{
    width: 120px !important;
    height: 50px;
    font-size: 20px;
}